<h1>Categorias</h1>
<div>
    <button mat-raised-button color="primary">Agregar nueva categoria</button>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        @for (column of displayedColumns; track $index) {
            <ng-container [matColumnDef]="column.matColumnDef">
                <th mat-header-cell *matHeaderCellDef> {{column.label}} </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>
        }
      
        <tr mat-header-row *matHeaderRowDef="columnsName"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsName;"></tr>
      </table>
</div>