/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; width: 100%}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

form {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  margin: 10px;
}

button {
  margin: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.buttons-list {
  display: flex;
  flex-direction: column;
  button {
    margin: 0px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
