<div class="nav-toolbar">
  <button mat-icon-button aria-label="Menu button">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Ecommerce</span>
  <span class="spacer"></span>
  <ng-container *ngFor="let opt of menuInicio">
    <button mat-button aria-label="Menu inicio button">
      <mat-icon>circle</mat-icon>
      {{ opt.description }}
    </button>
  </ng-container>
  <form [formGroup]="formGroup">
    <mat-form-field>
      <input matInput>
      <button matSuffix mat-icon-button aria-label="Search">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </form>

  <button mat-icon-button class="example-icon" aria-label="Shopping cart">
    <mat-icon>shopping_cart</mat-icon>
  </button>
  <button mat-button aria-label="Profile button" [matMenuTriggerFor]="user != null ? menu : null">
    {{ user != null ? 'Hola ' + user.username : 'Iniciar sesión'}}
  </button>
  <mat-menu #menu="matMenu">
    <ng-container *ngFor="let opt of menuUser">
      <button mat-menu-item (click)="menuAction(opt.id)">{{opt.description}}</button>
    </ng-container>
  </mat-menu>
  <span class="spacer"></span>
</div>
